/* body{
/* background-color: rgb(219, 187, 236); */
/* background-image: url("https://blog.adobe.com/en/publish/2021/10/07/media_1fe3df00e543b4ddb8ef87cb4a4a7a2a78fb90910.png?width=750&format=png&optimize=medium");
background-repeat: no-repeat;
background-size: cover; */

body{
    background-image: url("https://images.pexels.com/photos/7130560/pexels-photo-7130560.jpeg");
}

